.container{
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 600px;
    margin: 0 auto;
}
.container label{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    color: #383838;
}

.name_surname{
    display: flex;
    gap: 16px;
}
.input1{
    height: 35px;
    border-radius: 8px ;
    border: 1px solid rgba(90, 90, 90, 0.548);
    width: 100%;
}
.name{
    display: flex;
    flex-direction: column;
    align-items: self-start;
    gap: 16px;
    width: 100%;
}
.surname{
    display: flex;
    flex-direction: column;
    align-items: self-start;
    gap: 16px;
    width: 100%;
}
.email{
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: start;
   gap: 16px;
}
.message{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 16px;
}
.btn_submit{
    width: 20%;
    background-color: #098C04!important;
    color: #fafafa;
    font-size: 18px;
    font-weight: 600;
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.btn_submit:hover{
    background-color: transparent!important;
    border: 1px solid #098C04!important;
    color: #098C04;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
}