.search-form{
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.search-form label{
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;  
    font-weight: 600;
    color: #098C04;
}
.container{
    display: flex;
    align-self: center;
    gap: 16px;
}
.search-input{
    border-radius: 10px;
    border: 1px solid #098C04;
}
.search-button{
    background-color: #098C04!important;
    color: white;
    font-size: 18px;
    font-weight: 600;
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.search-button:hover{
    background-color: transparent!important;
    border: 1px solid #098C04!important;
    color: #098C04;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
}
