/* .recipes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
  } */

  .recipe-list {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 30px;
  }
  
  .recipe-card {
    border: 1px solid #7fd9557c;
    padding: 8px 10px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 350px;
  }
  
  .recipe-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .recipe-details {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .recipe-details h2 {
    margin-bottom: 10px;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #383838;
  }
  
  .primarybtn {
    background-color: #098C04!important;
    color: white;
    font-size: 18px;
    font-weight: 600;
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .button-group{
    display: flex;
    gap: 16px;
  }
  .secondarybtn{
    color: #098C04!important;
    background-color: white!important;
    border: 1px solid #098C04!important;
    font-size: 18px;
    font-weight: 600;
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .recipe-details button:hover {
    background-color: #0056b3;
  }
  
  /* Styles for modal */
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 500px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    border-radius: 8px;
    max-width: 80%;
    max-height: 80%;
    overflow-y: auto;
  }
  
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .modalbtn{
    margin-top: 16px;
    background-color: #098C04!important;
    color: white;
    font-size: 18px;
    font-weight: 600;
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .modal h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 8px;
    font-family: Arial, Helvetica, sans-serif;
  }
  .modal li{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
  }