/* General styles */
.popular-recipes {
    margin-top: 30px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .popular-recipes h2 {
    font-size: 1.8rem;
    margin-bottom: 16px;
    color: #383838;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .recipe-cards {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
  
  .recipe-card {
    border: 1px solid #7fd9557c;
    padding: 10px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }
  
  .recipe-card:hover {
    transform: translateY(-5px);
  }
  
  .recipe-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  
  .recipe-details {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .recipe-details h3 {
    margin-bottom: 10px;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #383838;
  }
  
  .recipe-details button {
    background-color: #098c04 !important;
    color: white;
    font-size: 16px;
    font-weight: 600;
    padding: 8px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .recipe-details button:hover {
    background-color: #006400;
  }
  
  