.header {
  position: relative;
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(19, 2, 24, 0.5), rgba(0, 0, 0, 0.5)), url('../../images/cooking.jpg'); 
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-text {
  text-shadow: 2px 2px 4px rgb(0, 0, 0); 
}

.header-text h1 {
  font-size: 3rem;
  color: white;
}
.about {
  margin: 0 auto;
}
  
.about-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
  margin-bottom: 80px;
  margin-top: 80px;
  padding-left: 40px;
  padding-right: 40px;
}
  
  .about-content {
  flex: 1;
}
  
  .about-content h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #098C04;
}
  
  .about-content p {
  font-size: 1.2rem;
  line-height: 1.6;
  color: #383838;
}
  
  .about-img {
  flex: 1;
}
  
  .about-img img {
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
  
.about-section.welcome .about-img,
.about-section.story .about-content,
.about-section.team .about-img,
.about-section.community .about-content {
  order: 2;
}
  
.about-section.welcome .about-content,
.about-section.story .about-img,
.about-section.team .about-content,
.about-section.community .about-img {
  order: 1;
}
  
@media (max-width: 768px) {
  .about-section {
    flex-direction: column-reverse;
  }
  
  .about-content,
  .about-img {
    margin-bottom: 40px;
    }
  }
  